/* escapes.js demo css */

@font-face {
  font-family: 'PerfectDOSVGA437Regular';
  src: url('perfect_dos-webfont.woff') format('woff'),
       url('perfect_dos-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PerfectDOSVGA437Regular';
  background: black;
  margin: 0;
  padding: 0;
}

figure {
  margin: auto;
  width: 800px;
}
